/* general */

html {
    font-size: 18px;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

section {
    min-height: 100vh;
}

body {
    @include font-reg;
    @include font-size(18);
    line-height: 1.5;
    color: $black;
    margin: 0;
    padding: 0;
    background-color: $white;
}

h1 {
    @include font-bold;
    @include font-size(36);
    line-height: 1.2;
    margin: 0 0 40px 0;
}

h2 {
    @include font-bold;
    line-height: 1.2;
}

a {
    color: $black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba($black, 0.5);
    transition: text-decoration-thickness 0.3s ease;

    &:hover {
        text-decoration-thickness: 2px;
    }
}

.container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
}
